<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IntervalSeconds" value="600"/>
    <add key="Email Server" value=""/>
    <add key="Email Port" value="25"/>
    <add key="Email Username" value=""/>
    <add key="Email Password" value=""/>
    <add key="Email UseSSL" value="false"/>
    <add key="Email To" value="briansp@microsoft.com"/>
    <add key="Email From" value="brian@spanton.net"/>
    <add key="Email ReplyTo" value="brian@spanton.net"/>
    <add key="Email Auth" value="cdoAnonymous"/>
    <add key="Dns Domains" value="spanton.net,www.spanton.net"/>
    <add key="Dns Username" value=""/>
    <add key="Dns Password" value=""/>
    <add key="Log.File" value="c:\program files\iptracker\IpTracker.log"/>
    <add key="StateDir" value="c:\program files\iptracker"/>
  </appSettings>
</configuration>
